tr:nth-child(even) {
  /*class="bg-gray-50";*/
  background-color: #bae6fd;
}

thead td {
  border-left: 0px solid;
}

tbody tr {
  border-width: 1px;
  border-color: rgb(71 85 105 / 1);
}

th {
  border-width: 1px;
  border-color: rgb(71 85 105 / 1);
}

td {
  border-width: 1px;
  border-color: rgb(71 85 105 / 1);
}
