@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

tr:nth-child(even) {
  /*class="bg-gray-50";*/
  background-color: #BAE6FD;
}

thead td {
  border-left: 0px solid;
}

.underline-width{
  text-decoration: underline solid 0.1rem;
}

.word{
  color:white;
}

.word:before {
  color: #009de2;
  content: "AIR";
}

.ad-line {
  animation: linear infinite;
  animation-name: run;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes run {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0;    
  }
}

.news:after{
  content: "NEWS";
  font-weight: 800;
}

.trends:after{
  content: "TRENDS";
  font-weight: 800;
}

.polygon{
  clip-path: polygon(0 0, 63% 0, 57% 100%, 0% 100%);
  content: '';
  z-index: 1;
}

.challenges:after{
  content: "CHALLENGES";
  font-weight: 800;
}

.mirror{
  transform: scaleX(-1);
}

body{
  font-family: roboto;
}

.diagonalcross {
  background: linear-gradient(to top right, #E0F2FE calc(50% - 1px), black , #E0F2FE calc(50% + 1px) );
}

div.all { 
  position:relative;
  width: 100%;
}
div.top {
  border-color: black;
  border-top: 7rem solid transparent;
  border-right: 5rem solid transparent;
}

@media print {
  html, body {
    display: none;  /* hide whole page */
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.mid {
  position:absolute;
  top:0;
  right:0;
}

div.bot {
  position:absolute;
  bottom:0;
  left:0;
  margin-bottom: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
